.navbar{
  background: #e9496c !important;
}

.brand{
  color : #fff !important;
}

.iniciarsesion{
  background: #3c5a9c !important;
  border: none !important;
  border-radius: 20px !important;
}

.colorletra .nav-link{
  color: #fff;

}

.colorletra .nav-link:hover{
  color: rgb(0, 0, 0) !important;
  
}


  