.wrapper {
    height: 80vh;
    background-image: linear-gradient(rgba(119, 114, 114, 0.5), rgba(5, 12, 7, 0.5)),
    url("/public/images/fondo.jpg");
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.bordered{
    border-width: 5px !important;
}

.login{
    width: 300px;
    padding: 20px;
    height: min-content;
    border-radius: 5px;
    color: black;
    background:rgba(147, 147, 148, 0.6);
}
.colourbutton{
    background-color: #3C5A9C !important;
    color:aliceblue !important;
}

.mostrarpass{
    text-decoration: none !important;
    color: #3C5A9C !important;
}

.login-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

.textoAlumnos{
    text-align: center;
}


