@media only screen and (min-width: 584px) and (max-width: 764px) {
  .pprincipal {
    height: fit-content;
    margin-left: 40px !important;
  }
}

.contenedor-boton {
  position: absolute;
  top: 200px;
  right: 20px; /* Ajusta la posición según tus preferencias */
}

.boton {
  border-radius: 15%;
  background-color: rgb(195, 52, 52);
  color: white;
}

.botonalumnos {
  border-radius: 15%;
  background-color: rgb(11, 168, 8);
  color: white;
}

.contenedor-botonalumno {
  position: absolute;
  top: 200px;
  right: 150px; /* Ajusta la posición según tus preferencias */
}

.fondopantalla {
  height: 100vh;
  background-image: linear-gradient(rgba(119, 114, 114, 0.5), rgba(5, 12, 7, 0.5)),
  url("/public/images/fondo.jpg");
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

